<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../includes/meta'); %>


  <title>Admin SV-REALTIME - Events</title>

  <link href="/css/app.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body>
  <div class="wrapper">

    <%- include('../../includes/sidebar'); %>

    <div class="main">

      <%- include('../../includes/navbar', {user: user}); %>


      <main class="content">
        <div class="container-fluid p-0">

          <h1 class="h3 mb-3">Blank Page</h1>

          <div class="row">
            <div class="col-12">
              <div class="card">

                <div class="card-body">

                  <table class="table table-hover my-0">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th class="d-none d-xl-table-cell">Start Date</th>
                        <th class="d-none d-xl-table-cell">End Date</th>
                        <th>Status</th>
                        <th class="d-none d-md-table-cell">Assignee</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Project Apollo</td>
                        <td class="d-none d-xl-table-cell">01/01/2023</td>
                        <td class="d-none d-xl-table-cell">31/06/2023</td>
                        <td><span class="badge bg-success">Done</span></td>
                        <td class="d-none d-md-table-cell">Vanessa Tucker</td>
                      </tr>
                      <tr>
                        <td>Project Fireball</td>
                        <td class="d-none d-xl-table-cell">01/01/2023</td>
                        <td class="d-none d-xl-table-cell">31/06/2023</td>
                        <td><span class="badge bg-danger">Cancelled</span></td>
                        <td class="d-none d-md-table-cell">William Harris</td>
                      </tr>
                      <tr>
                        <td>Project Hades</td>
                        <td class="d-none d-xl-table-cell">01/01/2023</td>
                        <td class="d-none d-xl-table-cell">31/06/2023</td>
                        <td><span class="badge bg-success">Done</span></td>
                        <td class="d-none d-md-table-cell">Sharon Lessman</td>
                      </tr>
                      <tr>
                        <td>Project Nitro</td>
                        <td class="d-none d-xl-table-cell">01/01/2023</td>
                        <td class="d-none d-xl-table-cell">31/06/2023</td>
                        <td><span class="badge bg-warning">In progress</span></td>
                        <td class="d-none d-md-table-cell">Vanessa Tucker</td>
                      </tr>
                      <tr>
                        <td>Project Phoenix</td>
                        <td class="d-none d-xl-table-cell">01/01/2023</td>
                        <td class="d-none d-xl-table-cell">31/06/2023</td>
                        <td><span class="badge bg-success">Done</span></td>
                        <td class="d-none d-md-table-cell">William Harris</td>
                      </tr>
                      <tr>
                        <td>Project X</td>
                        <td class="d-none d-xl-table-cell">01/01/2023</td>
                        <td class="d-none d-xl-table-cell">31/06/2023</td>
                        <td><span class="badge bg-success">Done</span></td>
                        <td class="d-none d-md-table-cell">Sharon Lessman</td>
                      </tr>
                      <tr>
                        <td>Project Romeo</td>
                        <td class="d-none d-xl-table-cell">01/01/2023</td>
                        <td class="d-none d-xl-table-cell">31/06/2023</td>
                        <td><span class="badge bg-success">Done</span></td>
                        <td class="d-none d-md-table-cell">Christina Mason</td>
                      </tr>
                      <tr>
                        <td>Project Wombat</td>
                        <td class="d-none d-xl-table-cell">01/01/2023</td>
                        <td class="d-none d-xl-table-cell">31/06/2023</td>
                        <td><span class="badge bg-warning">In progress</span></td>
                        <td class="d-none d-md-table-cell">William Harris</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

        </div>
      </main>


      <%- include('../../includes/footer'); %>



    </div>
  </div>

  <script src="/js/app.js"></script>


  <script>
    document.addEventListener("DOMContentLoaded", function() {
      let currentPath = window.location.pathname.split("/")[3]; // get the 3rd level of the path
      let nav = document.querySelector(".sidebar");
      let links = nav.querySelectorAll("a");

      links.forEach(function(link) {
        if (link.getAttribute("href").split("/")[3] === currentPath) {
          link.parentElement.classList.add("active");
        }
      });
    });
  </script>


</body>

</html>