<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="headline">
          <h3>Laatste nieuws</h3>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="headline">
          <h3>Binnenkort</h3>
        </div>
        <dl class="dl-horizontal headlines headlines-footer">
          <dt class="date">
            <a href="/evenementen/thefactore-aws-cloud" title="TheFactorE AWS Cloud">
              <div>28</div>
              <div>sep.</div>
            </a>
          </dt>
          <dd>
            <a href="/evenementen/thefactore-aws-cloud" title="TheFactorE AWS Cloud">TheFactorE AWS Cloud</a>
            <ul class="list-unstyled list-inline text-muted small">
              <li>
                <i class="fa fa-tag"></i>
                Educatief
              </li>
              <li>
                <i class="fa fa-map-marker"></i>
                Friesestraatweg 215a, 9743 AD Groningen
              </li>
            </ul>
          </dd>
        </dl>
        <dl class="dl-horizontal headlines headlines-footer">
          <dt class="date">
            <a href="/evenementen/september-borrel" title="September Borrel">
              <div>28</div>
              <div>sep.</div>
            </a>
          </dt>
          <dd>
            <a href="/evenementen/september-borrel" title="September Borrel">September Borrel</a>
            <ul class="list-unstyled list-inline text-muted small">
              <li>
                <i class="fa fa-tag"></i>
                Sociaal
              </li>
              <li>
                <i class="fa fa-map-marker"></i>
                TBA
              </li>
            </ul>
          </dd>
        </dl>
        <dl class="dl-horizontal headlines headlines-footer">
          <dt class="date">
            <a href="/evenementen/85662-bowlen" title="Bowlen">
              <div>11</div>
              <div>okt.</div>
            </a>
          </dt>
          <dd>
            <a href="/evenementen/85662-bowlen" title="Bowlen">Bowlen</a>
            <ul class="list-unstyled list-inline text-muted small">
              <li>
                <i class="fa fa-tag"></i>
                Sociaal
              </li>
              <li>
                <i class="fa fa-map-marker"></i>
                Gedempte Kattendiep 4, 9711 PN Groningen
              </li>
            </ul>
          </dd>
        </dl>
        <dl class="dl-horizontal headlines headlines-footer">
          <dt class="date">
            <a href="/evenementen/85853-oktoberborrel" title="Oktober Borrel">
              <div>19</div>
              <div>okt.</div>
            </a>
          </dt>
          <dd>
            <a href="/evenementen/85853-oktoberborrel" title="Oktober Borrel">Oktober Borrel</a>
            <ul class="list-unstyled list-inline text-muted small">
              <li>
                <i class="fa fa-tag"></i>
                Sociaal
              </li>
              <li>
                <i class="fa fa-map-marker"></i>
                TBA
              </li>
            </ul>
          </dd>
        </dl>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="headline">
          <h3>Contact</h3>
        </div>
        <address>
          <p>

            Studievereniging RealTime
            <br />

            Zernikeplein 11
            <br />

            9747 AS Groningen

          </p>
          <p>
            <i class="fa fa-fw fa-phone"></i>
            +31 50 595 48 92
            <br />
            <i class="fa fa-fw fa-envelope"></i>
            <a href="mailto:bestuur@sv-realtime.nl">bestuur@sv-realtime.nl</a>
          </p>
          <p>
            KvK: 02068054
          </p>
        </address>
        <div class="headline">
          <h3>Social media</h3>
        </div>
        <ul class="social-icons">
          <li>
            <a href="https://facebook.com/svrealtime" target="_blank" title="Facebook" class="facebook">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/svrealtime" target="_blank" title="Twitter" class="twitter">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/company/realtime-studievereniging/" target="_blank" title="LinkedIn" class="linkedin">
              <i class="fa fa-linkedin"></i>
            </a>
          </li>
          <li>
            <a href="https://www.youtube.com/channel/UC-vNJDHrJctKMsYDlmRJowg" target="_blank" title="YouTube" class="youtube">
              <i class="fa fa-youtube"></i>
            </a>
          </li>
          <li>
            <a href="https://instagram.com/svrealtime" target="_blank" title="Instagram" class="instagram">
              <i class="fa fa-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<section id="copyright">
  <div class="container">
    <div>
      <div>

        &copy; 2016 - 2023 RealTime
        |
        <a href="https://congressus-sv-realtime.s3-eu-west-1.amazonaws.com/user/e35c4ef7498a46e9b7a4453985909f2b.pdf" target="_blank">Privacybeleid</a>

        |
        <a href="https://congressus-sv-realtime.s3-eu-west-1.amazonaws.com/user/abb61e90a86042aa91c5e5bdba81b01d.pdf" target="_blank">Cookieverklaring</a>
      </div>


    </div>
  </div>
</section>