<div class="col-md-12 margin-top-40">
  <div class="headline">
    <h4>
      Onze partners</h4>
  </div>

  <div class="sponsors cycle-slideshow" data-cycle-slides="> ul" data-cycle-random="true" data-cycle-pause-on-hover="true" data-cycle-timeout="5000">
    <ul>
      <li class="col-md-3 col-xs-6">
        <a href="https://www.hanze.nl" title="" target="_blank" rel="nofollow">
          <img src="/sponsors/sponsor-hanze-sm.png" alt="Hanzehogeschool Groningen" />
        </a>
      </li>
      <li class="col-md-3 col-xs-6">
        <a href="https://www.quintor.nl" title="" target="_blank" rel="nofollow">
          <img src="/sponsors/sponsor-quintor.jpg" alt="Quintor" />
        </a>
      </li>
      <li class="col-md-3 col-xs-6">
        <a href="https://www.rdw.nl" title="" target="_blank" rel="nofollow">
          <img src="/sponsors/sponsor-rdw-sm.png" alt="RDW" />
        </a>
      </li>
      <li class="col-md-3 col-xs-6">
        <a href="https://www.axians.nl/" title="" target="_blank" rel="nofollow">
          <img src="/sponsors/sponsor-axians.png" alt="Axians" />
        </a>
      </li>
    </ul>
    <ul>
      <li class="col-md-3 col-xs-6">
        <a href="https://duo.nl/particulier/" title="" target="_blank" rel="nofollow">
          <img src="/sponsors/sponsor-duo.png" alt="DUO" />
        </a>
      </li>
      <li class="col-md-3 col-xs-6">
        <a href="https://www.belsimpel.nl/" title="" target="_blank" rel="nofollow">
          <img src="/sponsors/sponsor-belsimpel.png" alt="Belsimpel" />
        </a>
      </li>
      <li class="col-md-3 col-xs-6">
        <a href="https://tfe.nl/" title="" target="_blank" rel="nofollow">
          <img src="/sponsors/sponsor-43374-the-factore.png" alt="theFactor.e" />
        </a>
      </li>
      <li class="col-md-3 col-xs-6">
        <a href="https://www.cginederland.nl/nl" title="" target="_blank" rel="nofollow">
          <img src="/sponsors/sponsor-cgi.png" alt="CGI" />
        </a>
      </li>
    </ul>
    <ul>
      <li class="col-md-3 col-xs-6">
        <a href="http://www.wearespindle.com" title="" target="_blank" rel="nofollow">
          <img src="/sponsors/sponsor-spindle.png" alt="Devhouse Spindle" />
        </a>
      </li>
      <li class="col-md-3 col-xs-6">
        <a href="https://enshore.nl/" title="" target="_blank" rel="nofollow">
          <img src="/sponsors/sponsor-enshore.png" alt="Enshore" />
        </a>
      </li>
    </ul>
  </div>
</div>