<div class="col-md-12 margin-top-40">
  <div class="headline">
    <h4>
      Onze partners</h4>
  </div>

  <div class="sponsors cycle-slideshow" data-cycle-slides="> ul" data-cycle-random="true" data-cycle-pause-on-hover="true" data-cycle-timeout="5000">
    <ul>
      <li class="col-md-3 col-xs-6">
        <a href="https://www.hanze.nl" title="" target="_blank" rel="nofollow">
          <img src="https://congressus-sv-realtime.s3-eu-west-1.amazonaws.com/template/103/sponsor-hanze-sm.png" alt="Hanzehogeschool Groningen" />
        </a>
      </li>
      <li class="col-md-3 col-xs-6">
        <a href="https://www.quintor.nl" title="" target="_blank" rel="nofollow">
          <img src="https://congressus-sv-realtime.s3-eu-west-1.amazonaws.com/template/103/sponsor-quintor-sm.jpg" alt="Quintor" />
        </a>
      </li>
      <li class="col-md-3 col-xs-6">
        <a href="https://www.rdw.nl" title="" target="_blank" rel="nofollow">
          <img src="https://congressus-sv-realtime.s3-eu-west-1.amazonaws.com/template/103/sponsor-rdw-sm.png" alt="RDW" />
        </a>
      </li>
      <li class="col-md-3 col-xs-6">
        <a href="https://www.axians.nl/" title="" target="_blank" rel="nofollow">
          <img src="https://congressus-sv-realtime.s3-eu-west-1.amazonaws.com/template/103/sponsor-axians-sm.png" alt="Axians" />
        </a>
      </li>
    </ul>
    <ul>
      <li class="col-md-3 col-xs-6">
        <a href="https://duo.nl/particulier/" title="" target="_blank" rel="nofollow">
          <img src="https://congressus-sv-realtime.s3-eu-west-1.amazonaws.com/template/103/sponsor-duo-sm.png" alt="DUO" />
        </a>
      </li>
      <li class="col-md-3 col-xs-6">
        <a href="https://www.belsimpel.nl/" title="" target="_blank" rel="nofollow">
          <img src="https://congressus-sv-realtime.s3-eu-west-1.amazonaws.com/template/103/sponsor-belsimpel-sm.png" alt="Belsimpel" />
        </a>
      </li>
      <li class="col-md-3 col-xs-6">
        <a href="https://tfe.nl/" title="" target="_blank" rel="nofollow">
          <img src="https://congressus-sv-realtime.s3-eu-west-1.amazonaws.com/template/103/sponsor-43374-the-factore-sm.png" alt="theFactor.e" />
        </a>
      </li>
      <li class="col-md-3 col-xs-6">
        <a href="https://www.cginederland.nl/nl" title="" target="_blank" rel="nofollow">
          <img src="https://congressus-sv-realtime.s3-eu-west-1.amazonaws.com/template/103/sponsor-cgi-sm.png" alt="CGI" />
        </a>
      </li>
    </ul>
    <ul>
      <li class="col-md-3 col-xs-6">
        <a href="http://www.wearespindle.com" title="" target="_blank" rel="nofollow">
          <img src="https://congressus-sv-realtime.s3-eu-west-1.amazonaws.com/template/103/sponsor-spindle-sm.png" alt="Devhouse Spindle" />
        </a>
      </li>
      <li class="col-md-3 col-xs-6">
        <a href="https://enshore.nl/" title="" target="_blank" rel="nofollow">
          <img src="https://congressus-sv-realtime.s3-eu-west-1.amazonaws.com/template/103/sponsor-enshore-sm.png" alt="Enshore" />
        </a>
      </li>
    </ul>
  </div>
</div>