<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Prompt remove 2FA</title>
</head>

<body>
  <h2>Enter your current Two-Factor Authentication code to remove it:</h2>
  <form action="/admin/confirm-remove-2fa" method="post">
    <input type="text" name="token" placeholder="Enter your 2FA code" required>
    <button type="submit">Confirm Removal</button>
  </form>
  <% if (typeof error !=='undefined' ) { %>
  <p style="color: red;">
    <%= error %>
  </p>
  <% } %>
</body>

</html>