<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%- page.title %></title>
  <link href="/css/zmefuq_main.css" rel="stylesheet">


  <style>
    /* Add this to your styles.css or within a <style> tag in your HTML head */
    .navbar .dropdown:hover .dropdown-menu {
      display: block;
    }
  </style>
</head>

<body>
  <%- include('./includes/navbar.ejs', {pages: pages}) %>

  <div class="container mt-5">
    <%- page.content %>
  </div>

  <script src="/js/dist/jquery.min.js"></script>

  <script src="/js/bootstrap.min.js"></script>
</body>

</html>