<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>User Dashboard</title>
</head>

<body>
  <h2>Welcome, <%= user.username %>!</h2>
  <p>This is your user dashboard.</p>

  <% if (!user.hasFA) { %>
  <p>
    For added security, consider setting up Two-Factor Authentication (2FA).
  </p>
  <a href="/user/setup-2fa">Set up 2FA</a>
  <% } else { %>
  <p>
    You have Two-Factor Authentication enabled. Great job on keeping your
    account secure!
  </p>
  <br />
  <p>Want to remove the 2FA?</p>
  <a href="/user/remove-2fa">Remove 2FA</a>
  <% } %>

  <br />
  <p>profile?</p>
  <a href="/user/profile">Go to Profile</a>

  <br />
  <p><a href="/user/logout">Logout</a></p>
</body>

</html>